<%- include('header'); -%>


  
<div width="100%" style="background-image: url(/imgs/praca-menor.jpg); min-height: 750px; background-size: cover; background-position: top; opacity: 0.75; margin-left: -10px; margin-right: -10px; margin-top:5px "></div>



<%- include('footer'); -%>
